<div class='content' >
  <h1><%= @title %> </h1>
  <img class='logo' src='/images/ruby.gif'></img>

  <img class='img2' src='/images/mind-blown.gif'></img>

  <p>
    RailsConf2012 was exciting, there was a lot of talk of the growing
    community and how to teach others ruby and rails.  In the midst of all
    the excitment @tenderlove (Aaron Patterson) was promoted from "Señor
    Software Engineer" to the title of "Corey Haines".  In desperate times
    desperate actions must be taken.  Chrug is an attempt at promoting
    everyone to "Corey Haines".
  </p>

</div>
